/****** General ***********/

* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

:root {
  --main-color: #0065fc;
  --filter-bg-color: #deebff;
  --border-color: #d9d9d9;
  --main-bg-color: #f2f2f2;
  --white: #ffffff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 25.83px;
  text-align: left;
}

.card {
  background-color: var(--white);
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}
.filtersTitle,
.afficherPlus,
.footerTitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.13px;
}
.info,
.footerLink {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.78px;
}
/****** End General ***********/
/*******start style NavBar Top*******/
header {
  width: 100%;
  max-width: 1440px;
  height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.logoHeaderContainer {
  height: 100%;
  width: 161.09px;
  padding: 30px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.logoHeaderContainer img {
  width: 61.09px;
  height: 19px;
}
nav {
  width: 344px;
  height: 35px;
  padding: 0px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 68px;
}
.linkHeaderContainer {
  width: 244px;
  height: 100%;
  gap: 68px;
  display: flex;
}
.linkHeader {
  width: 113px;
  height: 35px;
  border-top: transparent solid 2px;
  transition: all 0.3s ease-in-out;
  align-content: flex-end;
  cursor: pointer;
}

.linkHeader:hover {
  border-top: var(--main-color) solid 2px;
  color: var(--main-color);
}
.linkHeader a {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.78px;
  text-align: center;
}
/*******End style NavBar Top*******/

/******* Start Main ***********/
main {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
/* MainFirstSection*/
.MainFirstSection {
  max-width: 1340px;
  min-height: 281px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.titleContainer {
  width: 100%;
  height: 53px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.section-subtitle {
  font-size: 16px;
}
.searchContainer {
  width: 377px;
  height: 49px;
  border-radius: 15px;
  border: var(--main-bg-color) solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchContainer :first-child {
  width: 50px;
  height: 100%;
  background-color: var(--main-bg-color);
  border-radius: 15px 0px 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchContainer i {
  font-size: 18px;
  color: black;
}
.searchInput {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.13px;
  text-align: center;
  outline: none;
}
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
.searchButton {
  width: 132px;
  height: 100%;
  color: var(--white);
  background-color: var(--main-color);
  border-radius: 0px 15px 15px 0px;
  border: var(--main-color) solid 1px;
  padding: 15px 16px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.searchButtonMobile {
  display: none;
}

.filtersContainer {
  width: 758px;
  height: 50px;
  display: flex;
  gap: 15px;
}
.filtersButtonsContainer {
  width: 100%;
  display: flex;
  gap: 15px;
}
.filtersTitle {
  align-self: center;
}

.filterButton {
  border-radius: 25px;
  border: 2px solid var(--border-color);
  padding: 4px 18px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  font-weight: 700;
  font-size: 17px;
  line-height: 19.96px;
  height: 50px;
}

.filterButton:hover {
  background-color: var(--filter-bg-color);
}
.filterButton i {
  font-size: 22px;
  line-height: 22px;
}
.infoContainer {
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.infoContainer i {
  width: 24px;
  height: 24px;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  MainFirstSection*/

/****** MainSecondSection Hebergements And Populaires ***********/
.MainSecondSection {
  width: 100%;
  min-height: 614px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.MainSecondSection section {
  background-color: var(--main-bg-color);
  border-radius: 15px;
  padding: 30px;
}

/****** Hebergements ***********/
.hebergements {
  width: 871px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hebergementsCardsContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hebergementsCardsRow {
  display: flex;
  gap: 30px;
}
.hebergementsCardsRow a {
  width: 100%;
}
.hebergementsOneCard {
  width: 250.33px;
  height: 207.25px;
  border-radius: 20px;
  padding: 0px 0px 15px 0px;
  gap: 4px;
  box-shadow: 0px 3px 15px 0px #0000001a;
  background-color: var(--white);
  transition: all 0.3s ease;
}
.hebergementsOneCard:hover {
  transform: translate(0px, -4px);
}
.imageContainer {
  width: 100%;
  height: 124px;
  border-radius: 20px 20px 0px 0px;
  border: 5px solid var(--white);
}

.hebergementsOneCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.cardContent {
  width: 100%;
  height: 64.25px;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}
.cardTitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 18.78px;
}
.cardSubtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.44px;
}
.afficherPlus {
  cursor: pointer;
}

/****** Populaires ***********/
.populaires {
  width: 429px;
  height: 100%;
}

.populairesTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populairesCards .card {
  display: flex;
  margin-top: 33px;
}

.populairesCards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populairesCards .cardContent {
    height: auto;
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardTxt {
}

.populairesCards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populairesCards .card-subtitle {
}

.populairesCards .cardRating {
  margin-bottom: 5px;
}

/****** MainThirdSection" Activités à Marseille ***********/
.MainThirdSection {
  width: 100%;
  height: 559.02px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.activityCards {
  width: 100%;
  display: flex;
  gap: 30px;
}
.activityCards a {
  width: 297.5px;
  height: 439px;
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px #0000001a;
  transition: all 0.3s ease;
}
.activityOneCard {
  width: 100%;
  height: 100%;
 
}
.activityCards a:hover {
  transform: translate(0px, -4px);
}
.activityCardImage {
  width: 100%;
  height: 380px;
  border-radius: 20px 20px 0px 0px;
}
.activityCardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.activityCardTxt {
  width: 100%;
  height: 59px;
  border-radius: 0px 0px 20px 20px;
  padding: 20px 19px;

  /*gap: 10px;*/
}
.activityCardTitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 18.78px;
}
/****** Footer ***********/
footer {
  width: 100%;
  max-width: 1340px;
  min-height: 163px;
  background-color: var(--main-bg-color);
  display: flex;
}
.footerSection {
  width: calc(100% / 3);
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
@media (max-width: 1300px) {
  .MainSecondSection {
    flex-direction: column;
  }
  .hebergementsCardsRow {
    display: flex;
    gap: 30px;

    justify-content: space-around;
  }
  .hebergementsCardsRow a {
    width: auto;
  }
  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populairesCards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
 

  .populairesCards a {
    width: 30%;
  }

  .populairesCards .card-title {
    font-size: 14px;
  }

  .populairesCards .card-subtitle {
    font-size: 13px;
  }
}
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .filtersContainer {
    flex-direction: column;

    height: 91px;
  }
  .filtersTitle {
    align-self: start;
  }







  .MainThirdSection {
    height: 390px;
  }
  .activityCards{
    height: 270px;
  }
  .activityCards a{
    width: 193.5px;
    height: 270px;
  }
  .activityOneCard{
    width: 193.5px;
    height: 270px;
  }
 
  .activityCardImage {
    width:193.5px;
    height: 200px;
  }
  .activityCardTxt{
    width:193.5px;
    height: 70px;
  }





}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
